body {
  background-color: red;
}
.container1 {
  background-color: green;
}
.container1 h1 {
  font-size: 50px;
  text-align: center;
}
.container1 p {
  color: aqua;
}
.container1 p:nth-of-type(1) {
  color: black;
  text-align: center;
}
.container1 p:nth-of-type(3) {
  font-size: 20px;
  color: sienna;
}
.container2 {
  background-color: purple;
}
.container2 h1 {
  text-align: end;
  font-style: italic;
  color: green;
}
.container2 p:nth-of-type(1) {
  color: aliceblue;
}
.container2 p:nth-of-type(1) span {
  color: red;
}
.container2 p:nth-of-type(2) {
  font-style: oblique;
  font-size: 35px;
  text-align: center;
}
