*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #EFE784;
}
main{
    /* background-color: #3E3838; */
    /* position: relative; */
    margin: 0 auto;
    width: 960px;
}
.contenant{
    position: relative;
    
}
.LogoTop{
    position: absolute;
    top: 43px;
    left: 350px;
    display: block;
    margin: 0 auto;
}
.Legendary{
    position: absolute;
    top: 150px;
    left: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-left: 0px;
    font-size: 40px;
    letter-spacing: 20px;
}
 h1{
    color: #EFE784;
    border-top: solid 1px; color: #EFE784;
    border-bottom: solid 1px;color: #EFE784;
    margin-left: 45%;
    margin-right: 44%;
    margin-bottom: 25px;

} 
p{
    color: #EFE784;
    margin-left: 200px;
    
}
p.textAve{
    color: #6CBCB3;
}
p.textAstar{
    color: #444C4A;
}
p.textWom{
    color: #fff;
} 
 h2{
    color: #6CBCB3 ;
    margin-left: 200px;
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 25px;
    
}
h3{
    color: #444C4A;
    margin-left: 200px;
    padding-top: 20px; 
     font-size: 30px;
     margin-bottom: 25px;
}
h4{
    color: #fff;
    margin-left: 200px;
    padding-top: 20px;
     font-size: 30px;
     margin-bottom: 25px;
} 
div.Avengers{ 
    background-color: #fff;
    padding-bottom: 10px;
}
div.Astar{
    background-color: #6CBCB3;
    padding-top: 10px;
}
div.bot{
    background-color: black;
    padding-bottom: 20px; 
}
p.AvengerCredit{
    color: #6CBCB3 ;
    margin-top: 10px;
    padding-bottom: 15px;
 }
p.AstarCredit{
    color: #444C4A;
    margin-top: 10px;
    padding-bottom: 15px;
} 
p.WomanCredit{
    color: #fff;
    margin-top: 10px;
    padding-bottom: 15px;
} 
p.CreditLegendary{
    color: #fff;
    margin-left: 50px;
}
span{
    color: #EFE784;
}
img.Astar{
    margin-left: 200px;
}
img.Avengers{
    margin-left: 200px;
}
img.Woman{
    margin-left: 200px;
} 
 img.LogoBot{
    margin-left: 50px;
    margin-top: 40px;

}

.Intro{
    background-color: #3E3838;
    padding-top: 40px;
    padding-bottom: 40px;
    
    
}
.WomanAt{
    background-color: #3E3838;
    
}
.image1{
    margin-bottom: -10px;
}
