body{
    
    background: linear-gradient(120deg, #fff, #000);}
div{
    background: linear-gradient(120deg,blue,rgb(0, 81, 255));
    margin: 20px 300px;
    border-radius: 50px;
    padding: 40px;
    border: solid;
    border-color: yellow;
}
h2{
    margin: 20px;
    padding: 20px;
    display: flex;
    color: rgb(238, 255, 0);
    font-size: 40px;
}
input{
    margin: 10px;
    font-weight: 40px;
    
}
.image{
    margin: 0 auto;
    padding: 0;
}
h1{
    background: linear-gradient(90deg, #fff, #000);
    margin: 20px 300px;
    border-radius: 50px;
    padding: 20px 0px;
    text-align: center;
    color: rgb(238, 255, 0);
    border: solid;
    border-color: yellow;
}
p{
    font-size: 30px;
    color: rgb(238, 255, 0);
}

.bouton,.btn{
    background:  linear-gradient(180deg,red, orange, yellow, green, blue);
    background:  linear-gradient(180deg,red 0%, orange 25%, yellow 50%, green 75%, blue 100%);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    display: block;
    align-items: center;
    margin:  auto;
    margin-top: 10px;
    border: solid;
    border-color: yellow;
}
.result{
    color: yellow;
    font-size: 24px;
}